   button {
        background: none;
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        margin: 5px;
        cursor: pointer;
        position: relative;
      }
      
      .disappear {
        animation: disappear 0.5s forwards;
      }
      
      @keyframes disappear {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
          display: none;
        }
      }